<div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default panel-table">
          <div class="panel-heading">
            <div class="row">
              <div class="col col-md-12">
                <h3 class="panel-title">{{title}}</h3>
              </div>
              <br>
            </div>
          </div>
          <ng-content></ng-content>
        </div>
          <div class="row page-information col-12">
            <button type="button" style="border: none;"><em class="bi bi-arrow-left" aria-hidden="true"></em></button>
            <select [(ngModel)]="pageSize" (change)="pageStateChanged()">
              <option *ngFor="let pSize of pageSizeOptions" [ngValue]="pSize">{{pSize}}</option>
          </select>
            <button type="button" style="border: none;"><em class="bi bi-arrow-right" aria-hidden="true"></em></button>
        </div>
      </div>
  </div>
</div>
