<div class="row">
    <div class="dashboard-nav col-md-2">
      <header><span class="brand-logo">MANAGEMENT PORTAL</span></header>
      <nav class="dashboard-nav-list">
        <a routerLink="home" class="dashboard-nav-item">Home</a>
        <a routerLink="movie-list" class="dashboard-nav-item">Movie</a>
        <a routerLink="movie-edit" class="dashboard-nav-item">Actor</a>
        <a routerLink="movie-edit" class="dashboard-nav-item">Director</a>
        <a routerLink="privilege-list" class="dashboard-nav-item">Privilege</a>
        <div class="nav-item-divider"></div>
        <a routerLink="login" class="dashboard-nav-item">Logout</a>
      </nav>
    </div>
<div class="col-md-10">
    <router-outlet></router-outlet>
  </div>
</div>
