<app-list-screen-base
[dataList]="dataService.dataList"
[pageSize]="listParams.pageSize" 
[pageSizeOptions]="listParams.pageSizeOptions" 
[title]="title"
(pageStateChange)="pageStateChanged($event)">
    <div class="panel-body">
      <table class="table table-striped table-bordered table-list">
        <thead>
          <tr>
            <!-- bos bir th konuldu baslangic icin bu delete ve update butonunun genisligine gore ayarlandi -->
            <th scope="col" style="width: 120px; padding:0;"><button type="button" class="btn btn-outline-success"
                (click)="showEditScreen(editScreen,'Create')">Create New</button></th>
            <th scope="col">ID</th>
            <th scope="col">NAME</th>
            <th scope="col">AGE</th>
            <th scope="col">GENDER</th>
            <th scope="col">NATIONALITY</th>
            <th scope="col">CREATE USER</th>
          </tr>
        </thead>
        <tbody>
          <!-- *ngFor async isteklerde *ngIf gibi veri degisince tetikleniyor bu sebeple dom render yaparken async problemi yasanmiyor veri bind olup ekranda gosteriliyor -->
          <tr *ngFor="let data of dataService.dataList">
            <td>
              <button type="button" class="btn btn-primary" (click)="showEditScreen(editScreen,'Update',data)" aria-label="Left Align">
                <em class="bi bi-pencil-square" aria-hidden="true"></em>
              </button>
              <button type="button" class="btn btn-danger" (click)="showEditScreen(editScreen,'Delete',data)" aria-label="Left Align">
                <em class="bi bi-trash" aria-hidden="true"></em>
              </button>
            </td>
            <td>{{data.Id}}</td>
            <td>{{data.Person.Name}}</td>
            <td>{{data.Person.Age}}</td>
            <td>{{data.Person.Gender}}</td>
            <td>{{data.Person.Country.Name}}</td>
            <td>{{data.UserId}}</td>
          </tr>
        </tbody>
      </table>
    </div>
</app-list-screen-base>
<app-director-edit #editScreen></app-director-edit>