<app-edit-screen-base [title]="title" [formGroup]="formGroup" [action]="action">
  <ng-template let-data="Item">
    <form [formGroup]="formGroup">
      <div class="form-group">
        <label for="recipient-name" class="col-form-label">Id:</label>
        <input type="number" formControlName="Id" id="Id" [ngModel]="Item?.Id">
        <label for="recipient-name" class="col-form-label">Role:</label>
        <input type="text" formControlName="Name" id="Name" [ngModel]="Item?.Name">
      </div>
    </form>
  </ng-template>
</app-edit-screen-base>
 
  
