<div class="login">
	<h1>Login</h1>
    <form method="post">
    	<input type="text" name="u" placeholder="Username" [(ngModel)]='user.UserName' required="required" />
        <input type="password" name="p" placeholder="Password" [(ngModel)]='user.password' required="required" />
        <button type="submit" (click)="login()" class="btn btn-primary btn-block btn-large">Login</button>
    </form>
    <button style="margin-top: 0.5em;" type="submit" (click)="openRegisterModal()" class="btn btn-warning btn-block btn-large">Register</button>
</div>